@(title: String)(content: Html)

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@title</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")'>
</head>

<body>
<div class="containe3r-fluid">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src='@routes.Assets.versioned("images/logo.webp")'
                 width="200" height="200" class="d-inline-block align-top" alt="">
        </a>
    </nav>
    @content
</div>
</body>
</html>